---
const navItems = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/products", text: "Products" },
  { href: "/contact", text: "Contact" },
];
---

<header class="header">
  <nav class="nav-container">
    <div class="logo">
      <img src="/logo.svg" alt="SyvBiotech Logo" />
      <span>SyvBiotech</span>
    </div>
    <button class="hamburger" id="hamburger-button"> &#9776; </button>
    <ul class="nav-links">
      {
        navItems.map((item) => (
          <li>
            <a href={item.href}>{item.text}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  .header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Shifted to the right */
  }

  .logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }

  .logo span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }

  .nav-links li {
    margin-left: 10px; /* Decreased margin */
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 10px 20px;
    display: block;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .nav-links a:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }

  @media (max-width: 768px) {
    .nav-links {
      visibility: hidden;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: white;
      width: 100%;
      border-radius: 5px;
      text-align: center;
      padding: 10px 0;
      max-height: 0;
      overflow: hidden;
      transition:
        max-height 1.5s ease-in-out,
        opacity 1.5s ease-in-out,
        visibility 1.5s ease-in-out;
      opacity: 0;
    }

    .nav-links.open {
      visibility: visible;
      max-height: 500px; /* Adjust as needed */
      opacity: 1;
    }

    .nav-links li {
      margin-left: 0;
    }

    .hamburger {
      display: block;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburgerButton = document.getElementById("hamburger-button");
    hamburgerButton.addEventListener("click", function () {
      const mobileMenu = document.querySelector(".nav-links");
      if (mobileMenu) {
        mobileMenu.classList.toggle("open");
      }
    });
  });
</script>
